<% layout('./layout/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4" style="width: 18rem;">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1489033929427-bb74601f25e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Login Here</h5>
                        <form action="/login" class="validating-form" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-laber" for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                                <div class="valid-feedback">
                                    Right format!
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-laber" for="password" name="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Right format!
                                </div>
                            </div>

                            <button class="btn btn-success">Login</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>